#task-manager {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #999;
}
#task-manager .task-wrapper {
  padding: 10px;
  border-top: 1px solid #bdbdbd;
}
#task-manager .task-wrapper:last-child {
  border-bottom: 1px solid #bdbdbd;
}
#task-manager .task-wrapper .task-description {
  white-space: pre;
}
#task-manager #task-modal #task-modal-error {
  margin-top: 10px;
}
